/*
Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.robotoR400 {
    font-family: 'Roboto', sans-serif;
}
/*
Maps
*/
#map { height: 230px; }

/*
Register Page
*/
.registerCard {
    width: 35rem;
}

@media screen and (max-width: 480px) {
    .registerCard {
        width: 23rem;
    }
}
